{
  "blockKey" : [
  // Broken Parts
    {
      "value" : [0, 128, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipwall",
      "object" : "apexshiplockerTier0",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
    {
      "value" : [255, 50, 81, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "brokenapexfuelhatch",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
    {
      "value" : [191, 191, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipdetails",
      "object" : "apexshiplightBroken",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
    {
      "value" : [79, 0, 128, 255],
      "anchor" : true,
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipdetails",
      "object" : "teleporterTier0",
      "flags" : [ "playerSpawn" ],
      "objectParameters" : {
        "unbreakable" : true
      }
    },
    {
      "value" : [202, 255, 202, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipwall",
      "object" : "techstation",
      "objectParameters" : {
        "unbreakable" : false
      },
      "objectResidual" : true
    },

  // Working Parts
    {
      "value" : [255, 255, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : false
    },

    {
      "value" : [0, 0, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true
    },

    {
      "value" : [255, 0, 0, 255],
      "foregroundBlock" : true,
      "backgroundBlock" : true
    },

    {
      "value" : [0, 255, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipwall",
      "object" : "apexshiplocker",
      "objectParameters" : {
        "treasurePools" : [ "humanStarterTreasure" ],
        "level" : 1,
        "unbreakable" : false
      }
    },

    {
      "value" : [142, 255, 142, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipwall",
      "object" : "techstation",
      "objectParameters" : {
        "unbreakable" : false
      }
    },

    {
      "value" : [255, 87, 81, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipwall",
      "object" : "apexfuelhatch",
      "objectParameters" : {
        "unbreakable" : false
      }
    },

    {
      "value" : [255, 255, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipdetails",
      "object" : "apexshiplight"
    },

    {
      "value" : [156, 0, 255, 255],
      "anchor" : true,
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipdetails",
      "object" : "teleporter",
      "flags" : [ "playerSpawn" ],
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [167, 167, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : false,
      "object" : "thruster",
      "objectParameters" : {
        "unbreakable" : false
      }
    },

    {
      "value" : [168, 168, 168, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipdetails",
      "object" : "brokenftldrive",
      "objectDirection" : "right",
      "objectParameters" : {
        "unbreakable" : false
      }
    },

    {
      "value" : [0, 255, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
   "backgroundMat" : "apexshipdetails",
      "object" : "apexcaptainschair",
      "objectDirection" : "right",
      "objectParameters" : {
        "unbreakable" : false
      }
    },

    {
      "value" : [255, 102, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipwall",
      "object" : "apexslidingdoor2"
    },

    {
      "value" : [255, 255, 144],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipwall"
    },

    {
      "value" : [255, 117, 144],
      "foregroundBlock" : true,
      "backgroundBlock" : false,
      "foregroundMat" : "slopedhullpanel"
    },

    {
      "value" : [255, 144, 144],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "glass"
    },

    {
      "value" : [127, 0, 55],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "slopedglasspanel"
    },

    {
      "value" : [169, 59, 81],
      "foregroundBlock" : true,
      "backgroundBlock" : false,
      "foregroundMat" : "slopedglasspanel"
    },

    {
      "value" : [0, 0, 0],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipdetails"
    },

    {
      "value" : [255, 117, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipsupport"
    }

  ]
}
