{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/objectcrafting/entropyheader.png",
      "fileBody" : "/interface/objectcrafting/entropybody.png",
      "fileFooter" : "/interface/objectcrafting/entropyfooter.png"
    },
    "toggleCrafting" : {
      "type" : "button",
      "position" : [5, 39],
      "base" : "/interface/objectcrafting/react.png",
      "hover" : "/interface/objectcrafting/reactover.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [74, 37],
      "dimensions" : [2, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "outputItemGrid" : {
      "type" : "itemgrid",
      "slotOffset" : 1,
      "position" : [130, 37],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "pointer" : {
      "type" : "image",
      "position" : [116, 40],
      "file" : "/interface/objectcrafting/arrow.png"
    }
  }
}
